li {
    display: flex;
    flex-direction: column;
    border: 1px solid #d9d9d9;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 10px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
  }
  
  /* li:hover {
    background-color: #f9f9f9;
  } */
  
  img {
   width: 80%;
   text-align: center;
   /* vertical-align: middle; Centrar verticalmente la imagen 
   max-width: 100%; Ajustar el tamaño máximo de la imagen al ancho del contenedor */
  }

  li p {
    margin: 8px 0;
  }
  
  button {
    background-color: #ff4500;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #ff5722;
  }
  
  a {
    color: #010212;
    text-decoration: none;
    /* display: block; */
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .post-buttons button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    padding: 5px 10px;
  }
  
  .post-buttons button:hover {
    background-color: #f0f0f0;
  }
  
  .like-button {
    color: #6cb370;
  }
  
  .dislike-button {
    color: #ff5a5f;
  }
  
  .edit-button {
    background-image: url('../images/pngwing.com\ \(1\).png');
    background-position: center;
    background-repeat: no-repeat;
    color: #0079d3;
  }
  
  .delete-button {
    background-image: url('../images/pngwing.com\ \(2\).png');
    background-position: center;
    background-repeat: no-repeat;
    color: #ff4500;
  }
  
  .post-buttons i {
    margin-right: 5px;
  }