.containerProfile {
  display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 10px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    display: block;
}

.infoo {
  color: rgb(168, 84, 36);
  text-align: center;
}

.titleProfile {
  color: #3b71ca;
}