.avatar {
  width: 10%;
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  margin: 30px;
  border-radius: 50%;
  padding: 10px;
}

.info {
  margin: 1%;
}

.tituloP {
  margin: 2%;
}
