.avatar {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}

.avatars {
  width: 10%;
  display: block;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}
