.navbar {
    display: flex;
    align-items: center;
    background-color: #1a1a1b;
    color: rgb(245, 226, 196);
    height: 60px;
    font-size: 1.2rem;
    padding: 20px;
  }
  
  .navbar a {
    color: rgb(250, 221, 199);
    text-decoration: none;
    margin-right: 20px;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  
  .tittle {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 20px 0;
    display: block;
  }
  
  .routes {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .routes a {
    color: #1a1a1b;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(249, 230, 204);
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .routes a:hover {
    background-color: #1a1a1b;
    color: rgb(247, 235, 201);
  }
  
  .text-white-50-mb-5 {
    text-align: center;
  }